@font-face {
    font-family: 'Cafe24 Behappy';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Behappy/Cafe24Behappy.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Behappy/Cafe24Behappy.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Behappy/Cafe24Behappy.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Behappy/Cafe24Behappy.ttf') format('truetype');
}
